$ff: 'Open Sans', sans-serif;
$ff2: 'Gotham Pro', sans-serif;
$ff3: 'Segoe UI', sans-serif;
$siteWidth: 1770;
$spaceCol: 15;

$globalFontsSize: 16;

// Colors
$white: #fff;
$light-red: #FF7070;
$red: #E91E1E;
$dark-red: #BA1F1F;
$gray: #EFEFEF;
$dark-gray: #696969;
$black: #101010;